<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="cols-xs-12">
      <form #f="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" ngModel name="title" required>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea rows="3" id="content" class="form-control" name="content" ngModel required></textarea>
        </div>
        <button type="button btn-primary" (click)="onCreatePost(f.value)" [disabled]="f.invalid">Send Post</button>
      </form>
      <hr>
      <button type="button" (click)="onFetchPosts()">Fetch Posts</button>
      <button type="button" (click)="onClearPosts()">Clear Posts</button>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 20px;">
  <div class="row">
    <p *ngIf="loadedPosts.length < 1 && !isLoading">No posts available!!</p>
    <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isLoading">
      <li class="list-group-item" *ngFor="let post of loadedPosts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
      </li>
    </ul>
    <p *ngIf="isLoading && !error">Loading...</p>
    <div class="alert" *ngIf="error">
      <h2>Error occured</h2>
      <p>{{error}}</p>
    </div>
  </div>
</div>